body{
    font-family: sans-serif;
    color: rgb(53, 13, 13);
}

header{
    text-align: center;
}
span{ 
    background-color: rgb(207, 125, 125);
    color: rgb(22, 15, 15); /* Faltava o ':' aqui */
    padding: 5px;
    border: 1px solid rgb(20, 5, 5);
    border-radius: 5px;
}

div{
  border: 1px black solid;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}

main{
    margin-top: 10px;
}

section {
    display: flex;
    flex-direction: column; /* Faz os itens empilharem verticalmente */
    align-items: center;   /* Centraliza os itens horizontalmente */
    margin-bottom: 20px;   /* Adiciona um espaço entre as seções (sugestão) */
}

img{
    width: 200px;
}